@page "/raffle"
@inherits raffler.Components.RaffleComponent


<div class="container">
    <div class="row justify-content-start">
        <div class="col-6">
            <h1>Text Hi to @RaffleNumber</h1>
            <h1>Scan Here to Enter a Raffle</h1>
            <img src="/images/images.png" alt="Entry Code" />
            <h1>Here is the next Event's prize</h1>
            <img class="prize-img" src="/images/lego-women-of-nasa-building-kit-2.jpg" />

            <h2>Click Here to Start a New Raffle</h2>
            <button class="btn btn-primary" type="button" @onclick="@StartRaffleAsync">Start Raffle</button>

            <h2>Click Here to Stop In Progress Raffle</h2>
            <button class="btn btn-primary" type="button" @onclick="@StopRaffleAsync">Stop Raffle</button>


            <h2>Click Here to Pick a Winner</h2>
            <button class="btn btn-primary" type="button" @onclick="@SelectRaffleWinnerAsync">Pick Winner</button>

            <h2>Clear the raffles</h2>
            <button class="btn btn-primary" type="button" @onclick="@ClearRafflesAsync">Clear Raffles</button>
        </div>
        <div class="col-6">
            <h1>List of Entries</h1>
            @if (EntryList == null || EntryList.Count == 0)
            {
                <p><em>No Entries Found Yet...</em></p>
            }
            else
            {
                <ul>
                    @foreach (var entry in EntryList.OrderByDescending(entry => entry.TimeStamp))
                    {
                        <li>
                            <p>Entry for @entry.MessageSid</p>
                            <p>Entry at @entry.TimeStamp</p>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
<br />


